.tarif-box {
    position: relative;
    overflow: hidden;
}

.tarif-box:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 0, 0.2); /* Couleur jaune avec opacité */
    border-radius: 10px; /* Ajustez selon vos besoins */
    pointer-events: none; /* Permet aux événements de souris de passer à travers */
    z-index: 1;
}

.card-offer {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: filter 0.3s ease-in-out;
}

.card-offer:hover {
    filter: brightness(90%); /* Assombrir légèrement la carte au survol */
}