/* le fichier peut être séparé, en plusieurs fichier pour que ce soit plus lisible, mais j'ai eu un peu la flemme
normalement ça prends pas trop de temps incha'Allah*/

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-container img {
    width: 600px;
    height: 450px;
    opacity: 0; /* L'image est initialement invisible */
    transform: translateY(
        20px
    ); /* L'image est initialement décalée vers le bas */
    transition:
        opacity 0.6s,
        transform 0.8s;
}

.image-container img:nth-child(1) {
    transform: translateY(200px); /* Pas de décalage pour la première image */
}

.image-container img:nth-child(2) {
    transform: translateY(
        200px
    ); /* Décalage de 100 pixels pour la deuxième image */
}

.image-container img:nth-child(3) {
    transform: translateY(
        200px
    ); /* Décalage de 200 pixels pour la troisième image */
}

.image-container img.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Styles pour les cards */
.card-section {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.card-container {
    padding: 20px;
    background-color: #2a2b2a;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 3);
    width: 400px; /* Largeur de la card */
    height: 600px;
    transition: transform 0.7s;
    transform: translateY(150px);
}

/* Styles pour le contenu de la card */
.card-content {
    text-align: center;
    flex: 1; /* Occupe tout l'espace disponible */
    color: #e6af2e;
}

/* Style pour l
    z-index: -1;e survol de la card */
.card-container:hover {
    transform: translateY(10px);
}

/* Styles de base pour la navbar */
.navbar {
    font-family: 'Scandefont';
    font-size: 18px;
    top: 0;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    padding: 10px 0;
    transition: top 0.3s;
}

/* Styles pour les pseudo-éléments ::before et ::after */
.navbar::before,
.navbar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: transparent;
    transition: background-color 0.7s;
}

/* Styles des liens de la navbar */
.navbar a {
    text-decoration: none;
    color: #2a2b2a;
    margin: 0;
    padding: 10px 15px;
    z-index: 1;
}

/* Style pour le soulignement au survol de la souris */
.navbar a:hover {
    color: #e6af2e;
}

.navbar:hover a {
    color: #e6af2e;
}

/* Style pour le survol de la souris */
.navbar:hover::before,
.navbar:hover::after {
    background-color: #2a2b2a;
}

.navbar .logo img {
    width: 50px;
    height: auto;
    transition: transform 0.3s; /* Animation de transition au changement de logo */
}

/* Styles pour le logo au survol de la navbar */
.navbar:hover .logo img {
    /* Changer la source de l'image au survol */
    content: url('../assets/images/logo-128x128-yellow.png');
    transform: scale(
        1.2
    ); /* Par exemple, agrandir légèrement le logo au survol */
}

/* Styles pour le wrapper du contenu */
.wrapper {
    min-height: calc(100vh - 60px); /* 60px est la hauteur estimée du footer */
    /* autres style */
}

/* Styles pour le footer */
.footer {
    background-color: #2a2b2a;
    color: #e6af2e;
    text-align: center;
    /* padding: 20px; */
    position: relative;
}

/* Styles pour les icônes de réseaux sociaux */
.social-icons {
    margin-top: 10px;
}

.social-icons a {
    text-decoration: none;
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s;
}

.social-icons img:hover {
    transform: scale(1.2);
}

/* Style pour le texte du footer */
.footer p {
    margin-top: 20px;
    font-size: 14px;
}

/* Positionnement du footer au bas de la page */

body {
    background-color: #e6af2e;
    display: flex;
    flex-direction: column;
}

.wrapper-content {
    background-color: #000; /* Couleur de fond par défaut */
    transition: background-color 10s ease; /* Ajoutez une transition en douceur pour le changement de couleur de fond */
}

.wrapper-light {
    background-color: #e6af2e; /* Couleur de fond lorsque la lumière est activée */
}

.wrapper {
    flex: 1;
}

.flex-container {
    display: flex;
    justify-content: space-around; /* Ajustez selon vos besoins */
    align-items: center; /* Ajustez selon vos besoins */
    flex-wrap: wrap; /* Permettre le passage à la ligne si l'espace est insuffisant */
}

.image-container,
.text-container {
    width: 48%; /* Ajustez selon vos besoins, cela dépend de la répartition souhaitée */
    box-sizing: border-box;
    margin: 10px; /* Ajustez selon vos besoins */
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.section-container {
    border-bottom: 2px solid #2a2b2a; /* Bordure de séparation entre les sections */
    padding-bottom: 20px; /* Espace entre la bordure et le contenu de chaque section */
}

.flex-card {
    height: 100%;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    overflow: hidden;
}

.page1 {
    height: 100dvh;
    background-image: url('../assets/images/intro-vitrine.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.page2 {
    height: 100dvh;
    display: flex;
    color: #fff;
    background-color: #2a2b2a;
    flex-direction: column;
    justify-content: center;
}

.page3 {
    height: 100dvh;
    display: flex;
    color: #fff;
    background-color: #e6af2e;
    flex-direction: column;
    justify-content: center;
}

@font-face {
    font-family: 'Scandefont';
    src: url('../assets/font/Merriweather/Merriweather-Black.ttf');
}

.splide__slide {
    font-family: 'Scandefont';
    font-size: 32px;
    color: #2a2b2a;
}

.splide__slide img {
    border-radius: 12px;
}

.intro {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Scandefont';
    font-size: 128px;
    color: #e6af2e;
}

.intro {
    text-align: center;
}

.name {
    font-size: 36px;
    color: #e6af2e;
    text-shadow: 0 0 10px #e6af2e;
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 20px #e6af2e;
        font-size: 128px;
    }
    100% {
        text-shadow: 0 0 10px #e6af2e;
        font-size: 118px;
    }
}

/* .splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
